// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  $svg-gradient-shim-threshold: 1 !global;
  font-family: $font-sans;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: $brand-color;
  text-decoration: none;
  transition: color 0.5s ease;

  @include on-event {
    color: $color-navy;
    text-decoration: none;
  }
}

.onepage-pagination li {
  a:before {
    background: rgba(160, 37, 128, 0.85);
  }

  a.active:before {
    border: 1px solid rgba(160, 37, 128, 0.85);
  }
}