
<div class="logo top">
  <svg xmlns="http://www.w3.org/2000/svg" width="400" height="420">
    <defs>
      <linearGradient id="text-gradient-fuschia-md" x1="0%" x2="30%" y1="0%" y2="70%" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ff4136" offset="0%"></stop>
        <stop stop-color="#1800ff" offset="100%"></stop>
      </linearGradient>
      <linearGradient id="text-gradient-fuschia-lg" x1="0%" x2="100%" y1="0%" y2="70%" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ff4136" offset="0%"></stop>
        <stop stop-color="#1800ff" offset="100%"></stop>
      </linearGradient>
      <linearGradient id="text-gradient-fuschia-xxl" x1="0%" x2="100%" y1="0%" y2="100%" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ff4136" offset="0%"></stop>
        <stop stop-color="#1800ff" offset="100%"></stop>
      </linearGradient>
    </defs>
    <g>
      <text class="fuschia md">
        <tspan x="0" y="88" letter-spacing="-5">Yan</tspan>
        <tspan x="0" y="182" letter-spacing="-5">Tsui</tspan>
      </text>

      <text class="fuschia lg">
        <tspan x="0" y="143" letter-spacing="-7">Yan</tspan>
        <tspan x="0" y="263" letter-spacing="-7">Tsui</tspan>
      </text>

      <text class="fuschia xxl">
        <tspan x="0" y="200" letter-spacing="-10">Yan</tspan>
        <tspan x="0" y="350" letter-spacing="-10">Tsui</tspan>
      </text>
    </g>
  </svg>
</div>


<div class="logo">
  <svg xmlns="http://www.w3.org/2000/svg" width="400" height="420">
    <defs>
      <linearGradient id="text-gradient-aubergine-md" x1="0%" x2="30%" y1="0%" y2="70%" gradientUnits="userSpaceOnUse">
        <stop stop-color="#1800ff" offset="0%"></stop>
        <stop stop-color="#ff4136" offset="100%"></stop>
      </linearGradient>
      <linearGradient id="text-gradient-aubergine-lg" x1="0%" x2="100%" y1="0%" y2="70%" gradientUnits="userSpaceOnUse">
        <stop stop-color="#1800ff" offset="0%"></stop>
        <stop stop-color="#ff4136" offset="100%"></stop>
      </linearGradient>
      <linearGradient id="text-gradient-aubergine-xxl" x1="0%" x2="100%" y1="0%" y2="100%" gradientUnits="userSpaceOnUse">
        <stop stop-color="#1800ff" offset="0%"></stop>
        <stop stop-color="#ff4136" offset="100%"></stop>
      </linearGradient>
    </defs>
    <g>
      <text class="aubergine md">
        <tspan x="0" y="88" letter-spacing="-5">Yan</tspan>
        <tspan x="0" y="182" letter-spacing="-5">Tsui</tspan>
      </text>

      <text class="aubergine lg">
        <tspan x="0" y="143" letter-spacing="-7">Yan</tspan>
        <tspan x="0" y="263" letter-spacing="-7">Tsui</tspan>
      </text>

      <text class="aubergine xxl">
        <tspan x="0" y="200" letter-spacing="-10">Yan</tspan>
        <tspan x="0" y="350" letter-spacing="-10">Tsui</tspan>
      </text>
    </g>
  </svg>
</div>


<div class="main">


<section id="introduction">
  <div id="galaxy">
    <!-- linkedin.com/in/saransinha -->
    <div id="stars-sm"></div>
    <div id="stars-md"></div>
    <div id="stars-lg"></div>

    <article class="quote">
      <span class="quote-mark">"</span>Now seeking for an opportunity to work with cutting-edge technologies and methodologies to excel my expertise in software development in aspirations of a professional full stack developer. Ultimately, I want my personal development contribute as a team of enthusiastic IT professionals who deliver innovative software solutions to maximise customer satisfaction, using expertly chosen platforms and frameworks, no matter the language.
    </article>
  </div>

  <div class="skills">
    <div class="content">
      <div class="column">

        <div class="section">
          <h1>Languages</h1>
          <div class="skill">
            <p class="name">Java EE</p>
            <div class="bar">
              <span class="points-10"></span>
            </div>
          </div>
          <div class="skill">
            <p class="name">MySQL</p>
            <div class="bar">
              <span class="points-10"></span>
            </div>
          </div>
          <div class="skill">
            <p class="name">Scala</p>
            <div class="bar">
              <span class="points-8"></span>
            </div>
          </div>
          <div class="skill">
            <p class="name">C#</p>
            <div class="bar">
              <span class="points-5"></span>
            </div>
          </div>
        </div>
        <div class="section">
          <h1>CMS</h1>
          <div class="skill">
            <p class="name">Kentico</p>
            <div class="bar">
              <span class="points-7"></span>
            </div>
          </div>
          <div class="skill">
            <p class="name">AEM</p>
            <div class="bar">
              <span class="points-7"></span>
            </div>
          </div>
        </div>

      </div>

      <div class="column">

        <div class="section">
          <h1>Frameworks</h1>
          <div class="skill">
            <p class="name">SpringMVC</p>
            <div class="bar">
              <span class="points-10"></span>
            </div>
          </div>
          <div class="skill">
            <p class="name">Hibernate</p>
            <div class="bar">
              <span class="points-5"></span>
            </div>
          </div>
          <div class="skill">
            <p class="name">AngularJS</p>
            <div class="bar">
              <span class="points-5"></span>
            </div>
          </div>
          <div class="skill">
            <p class="name">ASP.NET</p>
            <div class="bar">
              <span class="points-3"></span>
            </div>
          </div>
        </div>

        <div class="section">
          <h1>Design</h1>
          <div class="skill">
            <p class="name">Photoshop</p>
            <div class="bar">
              <span class="points-9"></span>
            </div>
          </div>
          <div class="skill">
            <p class="name">Axure</p>
            <div class="bar">
              <span class="points-9"></span>
            </div>
          </div>
        </div>

      </div>

      <div class="column">

        <div class="section">
          <h1>Front-end</h1>
          <div class="skill">
            <p class="name">HTML5</p>
            <div class="bar">
              <span class="points-10"></span>
            </div>
          </div>
          <div class="skill">
            <p class="name">jQuery</p>
            <div class="bar">
              <span class="points-8"></span>
            </div>
          </div>
          <div class="skill">
            <p class="name">Sass</p>
            <div class="bar">
              <span class="points-8"></span>
            </div>
          </div>
          <div class="skill">
            <p class="name">Javascript</p>
            <div class="bar">
              <span class="points-5"></span>
            </div>
          </div>
        </div>

        <div class="section">
          <h1>Automated Testing</h1>
          <div class="skill">
            <p class="name">SoapUI</p>
            <div class="bar">
              <span class="points-10"></span>
            </div>
          </div>
          <div class="skill">
            <p class="name">Selenium</p>
            <div class="bar">
              <span class="points-5"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="timeline">

  @*<div id="showcase" class="owl-carousel owl-theme">
      <div class="item">1</div>
      <div class="item">2</div>
    </div>*@

  
  <div>
    <div id="meowCase" class="owl-carousel owl-theme owl-loaded owl-drag caroumeow">
      <div class="owl-stage-outer">
        <div class="owl-stage">
          <div class="owl-item active">
            <div class="item">
              <div class="description">
                <h1>Spark NZ</h1>
                <p>With 90% JUnit code coverage, a fully-responsive, easily customisable Adobe CQ5 website was delivered to <a href="https://www.spark.co.nz/" target="_blank">Spark NZ</a>. I was one of the two developers involved, building Adobe CQ5 components and page designs accordingly to detailed specifications and style guidelines.</p>
              </div>
              <img src="/images/showcase/spark.png">
            </div>
          </div>
          <div class="owl-item">
            <div class="item">
              <div class="description">
                <h1>Kentico ASP.NET Websites, Datacom</h1>
                <p>We revitalised the Kentico-based websites for <a href="http://www.datacom.co.nz/" target="_blank">Datacom</a> and <a href="http://www.datacompayroll.co.nz/" target="_blank">Datacom Payroll</a>. My key roles included becoming the client’s point of contact for project visibility and technical assistance, and assisting new developers to familiarise to the development process.</p>
              </div>
              <img src="/images/showcase/datacom.png">
            </div>
        </div>
        <div class="owl-item">
          <div class="item">
            <div class="description">
              <h1>Liferay Portal, Vector</h1>
              <p>Using the foundations of Liferay and Jenkins automation, a fully-responsive and customisable <a href="http://vectorams.com.au/" target="_blank">AMS Portal</a> was built in no time. I provided extensive support and consultation defining detailed requirements to ensure change requests delivered met client expectations.</p>
            </div>
            <img src="/images/showcase/vector.png">
          </div>
        </div>
        <div class="owl-item">
          <div class="item">
            <div class="description">
              <h1>Stuff Self Service Portal</h1>
              <p>The <a href="https://my.stuff.co.nz/" target="_blank">Stuff IDM </a> is integrated with FuseESB, uses OAuth 2.0, and runs on SpringMVC, and MySQL. The AWS hosted self service portal empowers Stuff users to interact online, and manage their newspaper and newsletter subscriptions. I developed RESTful web services, registration, and user profile flows. Additionally, full test coverage was provided with SoapUI and Selenium.</p>
            </div>
            <img src="/images/showcase/stuff.png">
          </div>
      </div>
      <div class="owl-item">
        <div class="item">
          <div class="description">
            <h1>Student Course Review</h1>
            <p><a href="http://www.studentcoursereview.com/" target="_blank">Student Course Review</a> provides Australasian tertiary students to review educational courses. The Python based website is built on Google App Engine. I developed the responsive homepage and reviews page utilising NDB Datastore API and AngularJS.</p>
          </div>
          <img src="/images/showcase/scr.png">
        </div>
        </div>

    </div>
        <div class="owl-dots-wrap">
          <div class="owl-dots">
            <div class="owl-dot active"><span></span></div>
            <div class="owl-dot"><span></span></div>
            <div class="owl-dot"><span></span></div>
            <div class="owl-dot"><span></span></div>
            <div class="owl-dot"><span></span></div>
          </div>
        </div>
      </div>

      @*<div id="showcase" class="owl-carousel owl-theme">
          <div class="item"><img src="~/images/showcase/spark.png" /></div>
          <div class="item"><img src="~/images/showcase/datacom.png" /></div>
          <div class="item"><img src="~/images/showcase/vector.png" /></div>
            <div class="item"><img src="~/images/showcase/scr.png" /></div>
        </div>*@

    </div>

  </div>
</section>



<section>


  <a href="linkedin">linkedin</a>
  <a href="email">Email</a>


</section>

</div>