

<div id="galaxy">
  <!-- linkedin.com/in/saransinha -->
  <div id="stars-sm"></div>
  <div id="stars-md"></div>
  <div id="stars-lg"></div>

  <div class="logo top">
    <svg xmlns="http://www.w3.org/2000/svg" width="400" height="420">
      <defs>
        <linearGradient id="text-gradient-fuschia-md" x1="0%" x2="30%" y1="0%" y2="70%" gradientUnits="userSpaceOnUse">
          <stop stop-color="#ff4136" offset="0%"></stop>
          <stop stop-color="#1800ff" offset="100%"></stop>
        </linearGradient>
        <linearGradient id="text-gradient-fuschia-lg" x1="0%" x2="100%" y1="0%" y2="70%" gradientUnits="userSpaceOnUse">
          <stop stop-color="#ff4136" offset="0%"></stop>
          <stop stop-color="#1800ff" offset="100%"></stop>
        </linearGradient>
        <linearGradient id="text-gradient-fuschia-xxl" x1="0%" x2="100%" y1="0%" y2="100%" gradientUnits="userSpaceOnUse">
          <stop stop-color="#ff4136" offset="0%"></stop>
          <stop stop-color="#1800ff" offset="100%"></stop>
        </linearGradient>
      </defs>
      <g>
        <text class="fuschia md">
          <tspan x="0" y="88" letter-spacing="-5">Yan</tspan>
          <tspan x="0" y="182" letter-spacing="-5">Tsui</tspan>
        </text>

        <text class="fuschia lg">
          <tspan x="0" y="143" letter-spacing="-7">Yan</tspan>
          <tspan x="0" y="263" letter-spacing="-7">Tsui</tspan>
        </text>

        <text class="fuschia xxl">
          <tspan x="0" y="200" letter-spacing="-10">Yan</tspan>
          <tspan x="0" y="350" letter-spacing="-10">Tsui</tspan>
        </text>
      </g>
    </svg>
  </div>


  <div class="content quote">
    <span class="quote-mark">"</span>Now seeking for an opportunity to work with cutting-edge technologies and methodologies to excel my expertise in software development in aspirations of a professional full stack developer. Ultimately, I want my personal development contribute as a team of enthusiastic IT professionals who deliver innovative software solutions to maximise customer satisfaction, using expertly chosen platforms and frameworks, no matter the language.
  </div>

</div>


<div class="sheet">

  <div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="400" height="420">
      <defs>
        <linearGradient id="text-gradient-aubergine-md" x1="0%" x2="30%" y1="0%" y2="70%" gradientUnits="userSpaceOnUse">
          <stop stop-color="#1800ff" offset="0%"></stop>
          <stop stop-color="#ff4136" offset="100%"></stop>
        </linearGradient>
        <linearGradient id="text-gradient-aubergine-lg" x1="0%" x2="100%" y1="0%" y2="70%" gradientUnits="userSpaceOnUse">
          <stop stop-color="#1800ff" offset="0%"></stop>
          <stop stop-color="#ff4136" offset="100%"></stop>
        </linearGradient>
        <linearGradient id="text-gradient-aubergine-xxl" x1="0%" x2="100%" y1="0%" y2="100%" gradientUnits="userSpaceOnUse">
          <stop stop-color="#1800ff" offset="0%"></stop>
          <stop stop-color="#ff4136" offset="100%"></stop>
        </linearGradient>
      </defs>
      <g>
        <text class="aubergine md">
          <tspan x="0" y="88" letter-spacing="-5">Yan</tspan>
          <tspan x="0" y="182" letter-spacing="-5">Tsui</tspan>
        </text>

        <text class="aubergine lg">
          <tspan x="0" y="143" letter-spacing="-7">Yan</tspan>
          <tspan x="0" y="263" letter-spacing="-7">Tsui</tspan>
        </text>

        <text class="aubergine xxl">
          <tspan x="0" y="200" letter-spacing="-10">Yan</tspan>
          <tspan x="0" y="350" letter-spacing="-10">Tsui</tspan>
        </text>
      </g>
    </svg>
  </div>

  <div class="section skills">
    <div class="content">

      <div class="column">
        <div class="set">
          <h1>Languages</h1>
          <div class="skill">
            <span class="name">Java EE</span>
            <span class="bar">
              <span class="points-8"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">SQL</span>
            <span class="bar">
              <span class="points-8"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">Javascript</span>
            <span class="bar">
              <span class="points-8"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">C#</span>
            <span class="bar">
              <span class="points-3"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">PHP</span>
            <span class="bar">
              <span class="points-1"></span>
            </span>
          </div>
        </div>

        <div class="set">
          <h1>CMS</h1>
          <div class="skill">
            <span class="name">Kentico</span>
            <span class="bar">
              <span class="points-5"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">Liferay</span>
            <span class="bar">
              <span class="points-5"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">AEM</span>
            <span class="bar">
              <span class="points-5"></span>
            </span>
          </div>
        </div>



        <div class="set">
          <h1>Frameworks</h1>
          <div class="skill">
            <span class="name">SpringMVC</span>
            <span class="bar">
              <span class="points-6"></span>
            </span>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="set">
          <h1>DevOps</h1>
          <div class="skill">
            <span class="name">JIRA</span>
            <span class="bar">
              <span class="points-8"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">SVN</span>
            <span class="bar">
              <span class="points-8"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">Bamboo</span>
            <span class="bar">
              <span class="points-5"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">TFVC</span>
            <span class="bar">
              <span class="points-3"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">GIT</span>
            <span class="bar">
              <span class="points-1"></span>
            </span>
          </div>
        </div>

        <div class="set">
          <h1>Design</h1>
          <div class="skill">
            <span class="name">Axure</span>
            <span class="bar">
              <span class="points-8"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">Photoshop</span>
            <span class="bar">
              <span class="points-5"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">Illustrator</span>
            <span class="bar">
              <span class="points-3"></span>
            </span>
          </div>
        </div>

        <div class="set">
          <h1>Platforms</h1>
          <div class="skill">
            <span class="name">Linux</span>
            <span class="bar">
              <span class="points-3"></span>
            </span>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="set">
          <h1>Frontend</h1>
          <div class="skill">
            <span class="name">HTML5</span>
            <span class="bar">
              <span class="points-8"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">Bootstrap</span>
            <span class="bar">
              <span class="points-8"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">jQuery</span>
            <span class="bar">
              <span class="points-8"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">Sass</span>
            <span class="bar">
              <span class="points-8"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">AngularJS</span>
            <span class="bar">
              <span class="points-1"></span>
            </span>
          </div>
        </div>

        <div class="set">
          <h1>Automated Testing</h1>
          <div class="skill">
            <span class="name">Soap UI</span>
            <span class="bar">
              <span class="points-8"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">Selenium</span>
            <span class="bar">
              <span class="points-8"></span>
            </span>
          </div>
        </div>

        <div class="set">
          <h1>IDE</h1>
          <div class="skill">
            <span class="name">Eclipse</span>
            <span class="bar">
              <span class="points-8"></span>
            </span>
          </div>
          <div class="skill">
            <span class="name">Visual Studio</span>
            <span class="bar">
              <span class="points-8"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="hello"></div>