body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
Made by @screenshake
linkedin.com/in/saranshsinha
*/
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-420px);
  }
}
@keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.2;
  }
}
#stars-sm {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 895px 281px #FFF , 1729px 86px #FFF , 1705px 296px #FFF , 1418px 130px #FFF , 1827px 126px #FFF , 1550px 156px #FFF , 54px 184px #FFF , 607px 155px #FFF , 1842px 91px #FFF , 426px 275px #FFF , 1155px 220px #FFF , 1058px 78px #FFF , 1px 172px #FFF , 1480px 200px #FFF , 1287px 235px #FFF , 159px 190px #FFF , 1542px 203px #FFF , 1875px 122px #FFF , 835px 136px #FFF , 1112px 161px #FFF , 1473px 120px #FFF , 285px 200px #FFF , 1640px 121px #FFF , 1517px 127px #FFF , 805px 258px #FFF , 1737px 289px #FFF , 582px 204px #FFF , 539px 98px #FFF , 967px 41px #FFF , 328px 127px #FFF , 1502px 277px #FFF , 1920px 193px #FFF , 321px 141px #FFF , 674px 201px #FFF , 1506px 200px #FFF , 1860px 204px #FFF , 1872px 14px #FFF , 1592px 264px #FFF , 337px 206px #FFF , 1310px 269px #FFF , 1801px 187px #FFF , 1816px 212px #FFF , 583px 200px #FFF , 1603px 232px #FFF , 1112px 20px #FFF , 854px 172px #FFF , 1369px 253px #FFF , 1562px 172px #FFF , 441px 29px #FFF , 135px 3px #FFF;
  opacity: 0.5;
  /*animation: twinkle 5s linear infinite;*/
  /*animation: animStar 100s linear infinite;*/
}
#stars-sm:after {
  content: " ";
  position: absolute;
  top: 200px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 895px 281px #FFF , 1729px 86px #FFF , 1705px 296px #FFF , 1418px 130px #FFF , 1827px 126px #FFF , 1550px 156px #FFF , 54px 184px #FFF , 607px 155px #FFF , 1842px 91px #FFF , 426px 275px #FFF , 1155px 220px #FFF , 1058px 78px #FFF , 1px 172px #FFF , 1480px 200px #FFF , 1287px 235px #FFF , 159px 190px #FFF , 1542px 203px #FFF , 1875px 122px #FFF , 835px 136px #FFF , 1112px 161px #FFF , 1473px 120px #FFF , 285px 200px #FFF , 1640px 121px #FFF , 1517px 127px #FFF , 805px 258px #FFF , 1737px 289px #FFF , 582px 204px #FFF , 539px 98px #FFF , 967px 41px #FFF , 328px 127px #FFF , 1502px 277px #FFF , 1920px 193px #FFF , 321px 141px #FFF , 674px 201px #FFF , 1506px 200px #FFF , 1860px 204px #FFF , 1872px 14px #FFF , 1592px 264px #FFF , 337px 206px #FFF , 1310px 269px #FFF , 1801px 187px #FFF , 1816px 212px #FFF , 583px 200px #FFF , 1603px 232px #FFF , 1112px 20px #FFF , 854px 172px #FFF , 1369px 253px #FFF , 1562px 172px #FFF , 441px 29px #FFF , 135px 3px #FFF;
}

#stars-md {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 23px 194px #FFF , 811px 137px #FFF , 1436px 151px #FFF , 511px 151px #FFF , 1206px 97px #FFF , 1167px 98px #FFF , 1822px 48px #FFF , 1568px 52px #FFF , 136px 183px #FFF , 1711px 272px #FFF , 1918px 191px #FFF , 1421px 185px #FFF , 627px 105px #FFF , 517px 93px #FFF , 612px 12px #FFF , 884px 247px #FFF , 1912px 300px #FFF , 190px 172px #FFF , 231px 62px #FFF , 1339px 135px #FFF;
  opacity: 0.5;
  /*animation: twinkle 10s linear infinite;*/
  /*animation: animStar 250s linear infinite;*/
}
#stars-md:after {
  content: " ";
  position: absolute;
  top: 200px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 23px 194px #FFF , 811px 137px #FFF , 1436px 151px #FFF , 511px 151px #FFF , 1206px 97px #FFF , 1167px 98px #FFF , 1822px 48px #FFF , 1568px 52px #FFF , 136px 183px #FFF , 1711px 272px #FFF , 1918px 191px #FFF , 1421px 185px #FFF , 627px 105px #FFF , 517px 93px #FFF , 612px 12px #FFF , 884px 247px #FFF , 1912px 300px #FFF , 190px 172px #FFF , 231px 62px #FFF , 1339px 135px #FFF;
}

#stars-lg {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1650px 115px #FFF , 1357px 295px #FFF , 880px 243px #FFF , 1466px 11px #FFF , 1836px 242px #FFF , 1027px 116px #FFF , 621px 250px #FFF , 1782px 50px #FFF , 1330px 142px #FFF , 1688px 93px #FFF;
  opacity: 0.5;
  /*animation: twinkle 7s linear infinite;*/
  /*animation: animStar 400s linear infinite;*/
}
#stars-lg:after {
  content: " ";
  position: absolute;
  top: 200px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1650px 115px #FFF , 1357px 295px #FFF , 880px 243px #FFF , 1466px 11px #FFF , 1836px 242px #FFF , 1027px 116px #FFF , 621px 250px #FFF , 1782px 50px #FFF , 1330px 142px #FFF , 1688px 93px #FFF;
}

/*
@import "css3/border-radius";
@import "css3/inline-block";
@import "css3/opacity";
@import "css3/box-shadow";
@import "css3/text-shadow";
@import "css3/columns";
@import "css3/box-sizing";
@import "css3/flexbox";
@import "css3/images";
@import "css3/background-clip";
@import "css3/background-origin";
@import "css3/background-size";
@import "css3/font-face";
@import "css3/appearance";
@import "css3/animation";
@import "css3/regions";
@import "css3/hyphenation";
@import "css3/filter";
@import "css3/user-interface";
*/
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: #e50050;
  text-decoration: none;
  transition: color 0.5s ease;
}
a:hover, a:active, a:focus {
  color: #1800ff;
  text-decoration: none;
}

.onepage-pagination li a:before {
  background: #e50050;
  opacity: 0.3;
  width: 5px;
  height: 5px;
  margin-top: 0px;
  left: 10px;
  border: none;
  transition: opacity 0.25s ease;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.onepage-pagination li a.active:before {
  opacity: 0.8;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

section#introduction .galaxy {
  height: 200px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
}
@media (min-width: 1280px) {
  section#introduction .galaxy {
    height: 400px;
  }
}
section#introduction .quote {
  position: absolute;
  width: 95%;
  margin: 0;
  color: #ffffff;
  font-size: 1.45em;
}
section#introduction .quote .icon {
  width: 25px;
  height: 42px;
  margin-right: 10px;
}
@media (min-width: 1280px) {
  section#introduction .quote {
    width: 95%;
    padding: 0px 0 77px 434px;
  }
}
@media (min-width: 1920px) {
  section#introduction .quote {
    width: 90%;
    padding: 184px 0 0 562px;
  }
}
@media (min-width: 1280px) {
  section#introduction .quote {
    font-size: 1.75em;
  }
}
@media (min-width: 1920px) {
  section#introduction .quote {
    font-size: 2em;
  }
}
section#introduction .column {
  display: inline-block;
  width: 32%;
}
section#introduction .set {
  margin-bottom: 90px;
}
@media (min-width: 1280px) {
  section#introduction .set {
    margin-bottom: 100px;
  }
}
@media (min-width: 1366px) {
  section#introduction .set {
    margin-bottom: 110px;
  }
}
section#introduction .skills {
  top: 300px;
  background-color: white;
  background-size: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNjAwNTgyIiB5MT0iLTAuMDcwNDI4IiB4Mj0iMC4zOTk0MTgiIHkyPSIxLjA3MDQyOCI+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QyZDJkMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(260deg, #ffffff 70%, #f7f7f7 70%, #d2d2d2);
  background-image: -webkit-linear-gradient(260deg, #ffffff 70%, #f7f7f7 70%, #d2d2d2);
  background-image: linear-gradient(190deg, #ffffff 70%, #f7f7f7 70%, #d2d2d2);
}
@media (min-width: 1280px) {
  section#introduction .skills {
    top: 400px;
  }
}
section#introduction .skills .content {
  padding-left: 335px;
}
@media (min-width: 1280px) {
  section#introduction .skills .content {
    padding-left: 434px;
  }
}
@media (min-width: 1920px) {
  section#introduction .skills .content {
    padding-left: 562px;
  }
}
section#introduction .skills .section {
  margin-bottom: 5em;
}
section#introduction .skills h1 {
  font-size: 1.7em;
  font-weight: 700;
  color: #231988;
  margin: 0 0 0.67em 0;
}
@media (min-width: 1280px) {
  section#introduction .skills h1 {
    font-size: 2.0em;
  }
}
@media (min-width: 1366px) {
  section#introduction .skills h1 {
    font-size: 2.2em;
  }
}
section#introduction .skills .skill {
  margin-bottom: 15px;
}
section#introduction .skills .name {
  display: inline-block;
  width: 99px;
  vertical-align: top;
  font-size: 1.1em;
}
@media (min-width: 1280px) {
  section#introduction .skills .name {
    font-size: 1.4em;
    width: 125px;
  }
}
@media (min-width: 1920px) {
  section#introduction .skills .name {
    font-size: 1.7em;
    width: 150px;
  }
}
section#introduction .skills .bar {
  display: inline-block;
  position: relative;
  width: 72px;
  height: 28px;
  /*background-size: 100%;*/
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxMzA2ZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNDEzNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #c1306d), color-stop(100%, #ff4136));
  background-image: -moz-linear-gradient(left, #c1306d, #ff4136);
  background-image: -webkit-linear-gradient(left, #c1306d, #ff4136);
  background-image: linear-gradient(to right, #c1306d, #ff4136);
}
@media (min-width: 1280px) {
  section#introduction .skills .bar {
    height: 32px;
  }
}
@media (min-width: 1920px) {
  section#introduction .skills .bar {
    height: 36px;
  }
}
section#introduction .skills .bar span {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0.8;
}
section#introduction .skills .bar span.points-1 {
  width: 90%;
}
section#introduction .skills .bar span.points-2 {
  width: 80%;
}
section#introduction .skills .bar span.points-3 {
  width: 70%;
}
section#introduction .skills .bar span.points-4 {
  width: 60%;
}
section#introduction .skills .bar span.points-5 {
  width: 50%;
}
section#introduction .skills .bar span.points-6 {
  width: 40%;
}
section#introduction .skills .bar span.points-7 {
  width: 30%;
}
section#introduction .skills .bar span.points-8 {
  width: 20%;
}

section#showcase {
  margin: 27px 0px;
}
@media (min-width: 1280px) {
  section#showcase {
    margin: 77px 0px;
  }
}
@media (min-width: 1366px) {
  section#showcase {
    margin: 77px 0px;
  }
}
section#showcase .caroumeow .owl-dots-wrap {
  display: inline-block;
  position: relative;
  text-align: center;
}
section#showcase .caroumeow .owl-dots {
  display: inline-block;
  position: relative;
  /*&:before {
    position: absolute;
    top: 7px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 6px;
    margin-left: -3px;
    content: ' ';
    @include background-image(linear-gradient(to right, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%));
  }*/
}
section#showcase .caroumeow .owl-dots .owl-dot span {
  opacity: 0.1;
  background: #1800ff;
  transition: opacity 0.25s ease;
}
section#showcase .caroumeow .owl-dots .owl-dot.active span {
  opacity: 0.5;
}
section#showcase .caroumeow .owl-stage-outer {
  display: inline-block;
}
section#showcase .caroumeow .owl-item {
  width: 100%;
}
section#showcase .caroumeow .item {
  width: 100%;
  padding: 0px 5% 0px 5%;
}
section#showcase .caroumeow .item .description {
  display: inline-block;
  width: 543px;
  vertical-align: top;
  margin-top: 315px;
  padding-right: 50px;
}
section#showcase .caroumeow .item .description h1 {
  font-size: 2.5em;
}
section#showcase .caroumeow .item .description p {
  font-size: 1.1em;
}
section#showcase .caroumeow .item .showcase {
  display: inline-block;
  width: auto;
}

.content1 {
  padding: 151px 0 0 572px;
}
.content1 .supermeow {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1MDA1MCIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxODAwZmYiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(229, 0, 80, 0.3)), color-stop(100%, rgba(24, 0, 255, 0.5)));
  background-image: -moz-linear-gradient(top, rgba(229, 0, 80, 0.3), rgba(24, 0, 255, 0.5));
  background-image: -webkit-linear-gradient(top, rgba(229, 0, 80, 0.3), rgba(24, 0, 255, 0.5));
  background-image: linear-gradient(to bottom right, rgba(229, 0, 80, 0.3), rgba(24, 0, 255, 0.5));
  box-shadow: 4px 4px 1px rgba(136, 136, 136, 0.4);
  transition: width 0.25s;
}
.content1 .supermeow:hover {
  width: 200px;
}

section#deets .head {
  position: absolute;
  z-index: -1;
  left: 630px;
  bottom: 150px;
}
section#deets .head .face {
  width: 800px;
}
section#deets .head .eye {
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  width: 157px;
  height: 157px;
}
section#deets .head .pupil {
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
section#deets .head .pupil .glare {
  width: 100px;
  height: 100px;
}
section#deets .head #eye-left {
  left: 170px;
  top: 285px;
}
section#deets .head #eye-right {
  left: 473px;
  top: 285px;
}
section#deets .paws {
  position: absolute;
  width: 450px;
  left: 806px;
  bottom: 200px;
}
section#deets .footnote .note {
  position: absolute;
  bottom: 50px;
  left: 5%;
  color: #FFF;
}
section#deets .footnote .note .icon {
  width: 15px;
  height: 15px;
  margin-left: 2px;
  margin-bottom: -2px;
}
section#deets .footnote .note:hover .credits {
  opacity: 1;
}
section#deets .footnote .note .credits {
  opacity: 0;
  -moz-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
section#deets .footnote .note .credits span {
  display: block;
}
section#deets .footnote .note .credits span a {
  font-weight: bold;
}
section#deets .footnote .rollies {
  position: absolute;
  bottom: 50px;
  right: 5%;
}
section#deets .galaxy {
  z-index: -1;
  position: absolute;
  bottom: 0;
  height: 250px;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

#eye1 {
  position: absolute;
  background: #FFFFFF;
  overflow: hidden;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  left: 213px;
  top: 72px;
}

#pupil1 {
  position: relative;
  background: #000000;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.logo {
  position: fixed;
  left: 5%;
  width: 320px;
  height: 300px;
  -moz-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (min-width: 1280px) {
  .logo {
    top: 157px;
  }
}
.logo.top {
  z-index: 500;
}
.logo text {
  font-family: "Playfair Display", serif;
}
.logo text.md {
  visibility: visible;
  font-size: 124px;
}
@media (min-width: 1280px) {
  .logo text.md {
    visibility: hidden;
  }
}
.logo text.md.fuschia {
  fill: url(#text-gradient-fuschia-md);
}
.logo text.md.aubergine {
  fill: url(#text-gradient-aubergine-md);
}
.logo text.lg {
  visibility: hidden;
  font-size: 162px;
}
@media (min-width: 1280px) {
  .logo text.lg {
    visibility: visible;
  }
}
@media (min-width: 1920px) {
  .logo text.lg {
    visibility: hidden;
  }
}
.logo text.lg.fuschia {
  fill: url(#text-gradient-fuschia-lg);
}
.logo text.lg.aubergine {
  fill: url(#text-gradient-aubergine-lg);
}
.logo text.xxl {
  visibility: hidden;
  font-size: 190px;
}
@media (min-width: 1920px) {
  .logo text.xxl {
    visibility: visible;
  }
}
.logo text.xxl.fuschia {
  fill: url(#text-gradient-fuschia-xxl);
}
.logo text.xxl.aubergine {
  fill: url(#text-gradient-aubergine-xxl);
}

.galaxy {
  width: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMGY1NiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #000f56), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(top, #000f56, #000000);
  background-image: -webkit-linear-gradient(top, #000f56, #000000);
  background-image: linear-gradient(to bottom right, #000f56, #000000);
}

/* 3D FLIP BUTTON http://nerval.ch/ */
a.rollie {
  display: inline-block;
  color: #FFF;
  font-size: 16px;
  position: relative;
  margin-left: 20px;
  width: 210px;
  height: 54px;
  line-height: 54px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
a.rollie:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
a.rollie .side-a,
a.rollie .side-b {
  display: inline-block;
  width: 100%;
  position: absolute;
  height: 100%;
  padding: 0 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
a.rollie .side-a .icon,
a.rollie .side-b .icon {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
}
a.rollie .side-a {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuODk5NDE4IiB5MT0iLTAuMDcwNDI4IiB4Mj0iMC4xMDA1ODIiIHkyPSIxLjA3MDQyOCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1MDA1MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE4MDBmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(235deg, #e50050, #1800ff);
  background-image: -webkit-linear-gradient(235deg, #e50050, #1800ff);
  background-image: linear-gradient(-145deg, #e50050, #1800ff);
  -moz-transform: rotateX(0deg) translateZ(27px);
  -ms-transform: rotateX(0deg) translateZ(27px);
  -webkit-transform: rotateX(0deg) translateZ(27px);
  transform: rotateX(0deg) translateZ(27px);
}
a.rollie .side-b {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjEuMCIgeDI9IjAuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1MDA1MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE4MDBmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(135deg, #e50050, #1800ff);
  background-image: -webkit-linear-gradient(135deg, #e50050, #1800ff);
  background-image: linear-gradient(-45deg, #e50050, #1800ff);
  -moz-transform: rotateX(90deg) translateZ(27px);
  -ms-transform: rotateX(90deg) translateZ(27px);
  -webkit-transform: rotateX(90deg) translateZ(27px);
  transform: rotateX(90deg) translateZ(27px);
}
a.rollie:hover .side-a {
  -moz-transform: rotateX(-90deg) translateZ(27px);
  -ms-transform: rotateX(-90deg) translateZ(27px);
  -webkit-transform: rotateX(-90deg) translateZ(27px);
  transform: rotateX(-90deg) translateZ(27px);
}
a.rollie:hover .side-b {
  -moz-transform: rotateX(0deg) translateZ(27px);
  -ms-transform: rotateX(0deg) translateZ(27px);
  -webkit-transform: rotateX(0deg) translateZ(27px);
  transform: rotateX(0deg) translateZ(27px);
}
