
#galaxy {
  width: 100%;
  height: 300px;
  top: 0;
  clip: rect(0, auto, auto, 0);
  @include background-image(linear-gradient(to bottom right, #000f56, #000000));
  
  @include respond-to('lg') {
      height: 400px;
  }

  .quote {
    color: #ffffff;
    font-size: 1.45em;
    
    width: 95%;
    margin: 0;
  
    @include respond-to('lg') {
      width: 95%;
      padding: 41px 0px 0px 434px;
    }
  
    @include respond-to('xxl') {
      width: 90%;
    padding: 151px 0 0 572px;
    }

    @include respond-to('lg') {
      font-size: 1.75em;
    }

    @include respond-to('xxl') {
      font-size: 2em;
    }
  }
}
